<div class="container">

    <table class="table table-stripped">
        <tr>
            <th>Name</th>
            <th>Age </th>
            <th>Emp Id</th>
            <th>Branch </th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>  
        </tr>
        <tr *ngFor="let dt of empData">
            <td >{{dt.name}}</td>
            <td >{{dt.age}}</td>
            <td >{{dt.empId}}</td>
            <td >{{dt.branch}}</td>
            <td >{{dt.role}}</td>
            <td>   <button (click)="onEdit(dt)" pButton type="button"  class="p-button-warning">Edit </button> </td>
            <td>  <button (click)="onDelete(dt)" pButton type="button"  class="p-button-warning"> Delete</button> </td>
        </tr>
    </table>
</div>